@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantsModel
@{
}

<h2>Client Restaurants</h2>

@section Scripts {
    <link href="https://cdn.datatables.net/v/bs4/dt-1.13.6/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/bs4/dt-1.13.6/datatables.min.js"></script>

    <script>
        $(function () {
            $.ajax("/api/restaurants/",
                { method: "GET" })
                .then(function (response) {
                    console.log(response);
                })
        })
    </script>
}
