@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantsModel
@{
}

<h2>Client Restaurants</h2>

@section Scripts {
    <script>
        $(function () {
            $.ajax("/api/restaurants/",
                { method: "GET" })
                .then(function (response) {
                    console.log(response);
                })
        })
    </script>
}
