@page
@model OdeToFood.Pages.Restaurants.NotFoundModel
@{
    ViewData["Tittle"] = "NotFound";
}

<h2>The restaurant was not found</h2>
<a asp-page="./List" class="btn btn-outline-primary">See All Restaurants</a>